@media (min-width: 430px) and (max-width: 932px) {
  br {
    display: none;
  }
  .universe {
    margin-left: 150px;
  }
  header {
    height: 100px;
  }
  .container-header nav {
    margin-right: 190px;
    opacity: 0.9;
  }
  .container-header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    transition: color 0.3s ease;
  }

  .container-header h1 {
    opacity: 0;
  }
  .info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    height: 100%;
    color: var(--text-color);
  }
  .info-right img {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -261px;
    margin-top: -213px;
    border: 3px solid white;
  }
  .info-left p {
    margin-top: 40px;
    margin-left: 60px;
    text-align: justify;
    width: 800px;
  }

  .info-left h2 {
    margin-top: 764px;
    margin-left: 210px;
    width: 500px;
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  .info-left h2 span {
    width: 500px;
    color: var(--text-light-color);
  }

  .info-left .words {
    margin-left: 205px;
    width: 500px;
  }

  .scroll-down {
    margin-left: 200px;
    width: 500px;
  }

  /*about me*/
  .about-container h2 {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: -200%;
    margin-left: 750px;
    width: 400px;
  }
  .about-text {
    font-size: 1rem;
    color: var(--text-color);
    text-align: justify;
    margin-top: -160%;
    width: 185%;
    margin-left: 459px;
  }

  .container-grup {
    margin-left: 500px;
  }

  .container-grup .custom-div {
    margin-left: 20px;
    width: 366px;
    height: 260px;
    border: 2px solid white;
  }

  .custom-div p {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
    width: 343px;
  }

  .custom-div h3 {
    filter: brightness(2.2);
    font-size: 1.2rem;
    color: var(--text-light-color);
    margin-bottom: 110px;
  }
  .custom-3-div {
    border: 2px solid white;
    width: 881px;
    margin-left: 23px;
  }
  .container-grup .custom-div:hover {
    transform: none;
    transition: none;
    border-color: inherit;
  }
  .container-grup .custom-3-div:hover {
    transform: none;
    transition: none;
    border-color: inherit;
  }

  /*Skins*/
  .container-grup-skill-main {
    display: grid;
    grid-template-columns: repeat(1, 600px);
  }

  .container-skills {
    height: 1600px;
  }

  .container-skill-grup {
    margin-left: 250px;
  }
  .container-skills h2 {
    margin-bottom: 1285px;
    margin-left: 850px;
    width: 100%;
  }
  .container-skills p {
    margin-bottom: -185px;
    margin-left: 250px;
    width: 100%;
  }

  /*Projects*/

  .container-grup-projects {
    display: grid;
    grid-template-columns: repeat(1, 580px);
    margin-left: 460px;
  }

  .container-projects {
    height: 2000px;
  }

  .container-projects h2 {
    margin-top: -1800px;
    margin-left: 768px;
    width: 100%;
  }

  .descrition-projects {
    margin-top: -1680px;
    margin-left: 551px;
    width: 100%;
  }

  /*Contact*/

  footer h3 {
    margin-left: 400px;
  }
  footer p {
    margin-left: 250px;
    width: 100%;
  }

  footer .social-midia ul {
    margin-left: 250px;
  }
}

@media (min-width: 200px) and (max-width: 932px) {
  .partial-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1650px; /* largura da parte da borda */
    border-top: 2px solid rgba(74, 74, 74, 0.5);
  }

  br {
    display: none;
  }
  .universe {
    margin-left: 150px;
  }
  header {
    height: 100px;
  }
  .container-header nav {
    margin-right: 190px;
    opacity: 0.9;
  }
  .container-header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    transition: color 0.3s ease;
    margin-right: 80px;
  }

  .container-header h1 {
    opacity: 0;
  }
  .info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    height: 100%;
    color: var(--text-color);
  }
  .info-right img {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -389px;
    margin-top: -213px;
    border: 3px solid white;
  }
  .info-left p {
    margin-top: 118px;
    margin-left: 60px;
    text-align: justify;
    width: 397%;
    font-size: 1.8rem;
    color: #fff;
  }

  .info-left h2 {
    margin-top: 960px;
    margin-left: 280px;
    width: 500px;
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  .info-left h2 span {
    width: 500px;
    color: var(--text-light-color);
  }

  .info-left .words {
    margin-left: 280px;
    width: 500px;
  }

  .scroll-down {
    margin-top: 400px;
    margin-left: 250px;
    width: 500px;
  }

  /*about me*/

  .about-container {
    height: 2600px;
  }
  .about-container h2 {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: -666%;
    margin-left: 929px;
    width: 122%;
  }
  .about-text {
    font-size: 1.8rem;
    color: var(--text-color);
    text-align: justify;
    margin-top: -547%;
    width: 241%;
    margin-left: 641px;
  }

  .container-grup {
    margin-left: 500px;
    margin-top: 360px;
    grid-template-columns: repeat(1, 500px);
  }

  .container-grup .custom-div {
    margin-left: -188px;
    width: 881px;
    height: 360px;
    border: 2px solid white;
  }

  .custom-3-div h3 {
    font-size: 1.8rem;
  }

  .custom-div h3 {
    font-size: 1.8rem;
    padding-bottom: 40px;
  }

  .custom-div img {
    margin-top: -58px;
  }
  .custom-div p {
    position: absolute;
    text-align: center;
    font-size: 1.8rem;
    color: var(--text-color);
    width: 808px;
  }

  .custom-3-div {
    border: 2px solid white;
    width: 881px;
    margin-left: -187px;
  }
  .list-grup {
    grid-template-columns: repeat(1, 300px);
  }

  .list-goals-1 {
    font-size: 1.8rem;
    width: 190%;
  }

  .list-goals-2 {
    width: 188%;
    margin-top: 100px;
    margin-left: -100px;
    font-size: 1.8rem;
  }

  .container-grup .custom-div:hover {
    transform: none;
    transition: none;
    border-color: inherit;
  }
  .container-grup .custom-3-div:hover {
    transform: none;
    transition: none;
    border-color: inherit;
  }

  /*Skins*/
  .container-grup-skill-main {
    display: grid;
    grid-template-columns: repeat(1, 600px);
    margin-left: 200px;
  }

  .container-skill-grup {
    max-width: 600px;
  }
  .container-skills {
    height: 1600px;
  }

  .container-skill-grup {
    margin-left: 209px;
  }
  .container-skills h2 {
    font-size: 1.8rem;
    margin-bottom: 1285px;
    margin-left: 874px;
    width: 82%;
  }
  .container-skills p {
    position: absolute;
    font-size: 1.8rem;
    width: 206%;
    margin-top: -1220px;
    margin-left: 125px;
  }

  .skill-box .title {
    font-size: 1.8rem;
  }

  /*Projects*/

  .container-grup-projects {
    display: grid;
    grid-template-columns: repeat(1, 580px);
    margin-left: 500px;
  }

  .container-projects {
    height: 2000px;
  }

  .container-projects h2 {
    font-size: 1.8rem;
    margin-top: -1800px;
    margin-left: 768px;
    width: 100%;
  }

  .descrition-projects {
    font-size: 1.5rem;
    margin-top: -1680px;
    margin-left: 616px;
    width: 128%;
  }
}

/*Contact*/

footer h3 {
  font-size: 1.8rem;
  margin-left: 426px;
}
footer p {
  margin-left: 166px;
  width: 200%;
  font-size: 1.8rem;
}

footer .social-midia ul {
  margin-top: 20px;
  margin-left: 320px;
}
