* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #222831;
  --secondary-color: #a7a9ab;
  --background-color: #08141b;
  --text-color: #ffffff;
  --text-light-color: #69d678;
  --hover-color: #69d678;
  --skeleton-color-p-h2-span: linear-gradient(
    120deg,
    #c7c4c4 25%,
    #eaeaea 50%,
    #dddddd 75%
  );
  --skeleton-div: linear-gradient(
    120deg,
    #aaa8a8 25%,
    #eaeaea 50%,
    #787878 75%
  );
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
}

.hidden-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
